@import "./_block/block";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow:wght@600&family=Fraunces:ital,wght@0,700;0,900;1,900&family=Fredoka:wght@400;700&family=Hind+Madurai:wght@400;700&family=IBM+Plex+Sans&family=IBM+Plex+Sans+Thai&family=Indie+Flower&family=Inter&family=Khula&family=Lato:wght@700&family=Montserrat:ital,wght@0,300;1,100&family=Mulish&family=Nanum+Gothic:wght@400;700&family=Open+Sans:wght@300;700&family=Oswald:wght@200&family=Outfit&family=Philosopher:wght@400;700&family=Poppins:wght@100;400&family=Raleway:wght@500&family=Roboto+Condensed&family=Roboto:wght@300;400&family=Tektur:wght@600&family=Tilt+Prism&display=swap');

@mixin f-style($f-size, $color, $f-weight) {
    font-size: $f-size;
    color: $color;
    font-weight: $f-weight;
}

$myFont: 'Nunito Sans', sans-serif;

:root{
    --green: #27ae60;
    --black: #192a56;
    --lighting-color: #666;
    --box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: 0.5s;
    font-family: $myFont;
};

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}